/***********************************
  Omar Teixeira Gonzalez - UO281847
      Documento CSS que contiene
      los estilos definidos para
      la Tarea 1 del Ejercicio 14
      de la práctica de 
      Computación en la nube
***********************************/
/*Selector Specificity: (0, 0, 1)*/
body {
  /*color por defecto*/
  background-color: #444444;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/*Selector Specificity: (0, 0, 1)*/
header {
  /*color hereda de body*/
  background-color: #000000;
  border-radius: 1em;
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*Selector Specificity: (0, 0, 1)*/
main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5em;
}

/*Selector Specificity: (0, 0, 1)*/
footer {
  /*color hereda de body*/
  background-color: #000000;
  border-radius: 1em;
  padding: 2em;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 1em;
}

/*Selector Specificity: (0, 0, 1)*/
article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

/*Selector Specificity: (0, 0, 1)*/
section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1em;
}

/*Selector Specificity: (0, 0, 1)*/
h1 {
  font: 3em Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ff5e66;
  /*background-color hereda de header*/
}

/*Selector Specificity: (0, 0, 1)*/
h2 {
  font: 1.5em Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ff5e66;
  background-color: #000000;
  border-radius: 0.5em;
  padding: 0.25em;
  text-align: center;
}

/*Selector Specificity: (0, 0, 1)*/
p, label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color : #ffffff;
  /*background-color hereda de main*/
}

/*Selector Specificity: (0, 0, 1)*/
p {
  font-size: 1.25em;
  text-align: center;
}

/*Selector Specificity: (0, 0, 1)*/
label {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5em;
}

/*Selector Specificity: (0, 0, 1)*/
select {
  font-size: 1em;
  color: #ffffff;
  background-color: #000000;
  border-radius: 0.75em;
  border-style: solid;
  border-width: 0.25em; 
  border-color:#ff5e66;  
  padding: 0.5em;
  min-height: 20vw;
}

/*Selector Specificity: (0, 0, 1)*/
img {
  max-width: 100vw;
  height: auto;
}

/*Selector Specificity: (0, 1, 1)*/
option:checked {
  border-radius: 0.5em;
  border-style: solid;
  border-width: 0.25em; 
  border-color:#8d8d8d;
}

/* Selector Specificity: (0, 1, 1) */
input[type="file"] {
  font-size: 1em;
  color : #cecece;
  /*background-color hereda de main*/
}

/*Selector Specificity: (0, 1, 1)*/
input[type="button"] {
  font-size: 1.25em;
  /*color hereda de footer*/
  background-color: #9a9a9a;
  border-radius: 50%;
  border-color: #ff5e66;
  border-width: 0.3em;
  padding: 0.5em;
  min-width: 3em;
  min-height: 3em;
}
