/***********************************
  Omar Teixeira Gonzalez - UO281847
      Documento CSS que contiene
      los estilos definidos para
      la Tarea 6 del Ejercicio 11
      de la práctica de 
      Computación en la nube
***********************************/
/* Selector Specificity: (0, 0, 1) */
body{
  /*color por defecto*/
  background-color: #ffbaba;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  gap: 1em;
}

/* Selector Specificity: (0, 0, 1) */
main {
  /*color hereda de body*/
  border-radius: 1.5em;
  width:60vw; 
  height:40vw;
}

/* Selector Specificity: (0, 0, 1) */
article {
  /*color hereda de body*/
  background-color: #763030;  
  border-radius: 1.5em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Selector Specificity: (0, 0, 1) */
h1 {
  font: 3em Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

/* Selector Specificity: (0, 0, 1) */
h2 {
  font: 2em Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color : #cecece;
  /*background-color hereda de header*/
}

/* Selector Specificity: (0, 0, 1) */
h3 {
  font: 1.5em Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

/* Selector Specificity: (0, 0, 1) */
h4 {
  font: 1em Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

/* Selector Specificity: (0, 0, 1) */
p {
  font: 1.25em Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 0.5em;
  color : #cecece;
  /*background-color hereda de header*/
}

/*Selector Specificity: (0, 0, 1)*/
table {
  /*color hereda de body*/
  background-color: #969696;
  border-width: 0.25em;
  border-radius: 1em;  
  border-style: solid;
  border-color: #000000;  
  margin: 0.5em;  
}

/*Selector Specificity: (0, 0, 2)*/
table th{
  /*color hereda de body*/
  background-color: #f37b7b;
  border-radius: 0.75em;  
  border-width: 0.15em;
  border-style: solid;
  border-color: #000000;
  padding: 0.4em;
}

/*Selector Specificity: (0, 0, 2)*/
table td {
  /*color hereda de body*/
  background-color: #b5b5b5;
  border-radius: 0.75em;  
  border-width: 0.15em;
  border-style: solid;
  border-color: #000000;
  padding: 0.4em;
}