/***********************************
  Omar Teixeira Gonzalez - UO281847
Documento que contiene el estilo
(fuente, tamaño, color, etc) de 
los diferentes html que forman la
pagina
***********************************/
/*Selector Specificity: (0, 0, 1)*/
body {
  /*color por defecto*/
  background-color: gray;  
  font: 1.025em Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 1em;
}

/*Selector Specificity: (0, 0, 1)*/
header, main {
  /*color hereda de body*/
  background-color: rgb(170, 170, 170);
  border-radius: 1em;  
}

/*Selector Specificity: (0, 0, 1)*/
section {
  /*color hereda de main*/
  background-color: rgb(190, 190, 190);
  border-radius: 1em;  
}

/*Selector Specificity: (0, 0, 1)*/
h1 {
  color: white;
  background-color: darkred;  
  font: 3em 'Courier New', Courier, monospace;
  border-color: rgb(0, 0, 0);
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.45em;
}

/*Selector Specificity: (0, 0, 1)*/
h2 {
  color: white;
  background-color: rgb(109, 16, 16);
  border-color: rgb(0, 0, 0);
  border-width: 0.15em;
  border-style: solid;
  border-radius: 0.6em;
}

/*Selector Specificity: (0, 0, 1)*/
h3 {
  color: white;
  background-color: rgb(147, 48, 48);    
  border-radius: 0.75em;
  border-color: rgb(0, 0, 0);
  border-width: 0.2em;
  border-style: solid;  
}

/*Selector Specificity: (0, 0, 1)*/
h4 {
  color:white;
  background-color:rgb(136, 28, 28);
  border-radius: 0.75em;
}

/*Selector Specificity: (0, 0, 1)*/
h5 {
  color:white;
  background-color:rgb(153, 42, 42);
  font-size: 0.9em;
  border-radius: 0.75em;
}

/*Selector Specificity: (0, 0, 1)*/
h6 {
  /*color hereda de section*/
  background-color:rgb(160, 160, 160);
  border-radius: 0.75em;
  font-weight: bold;
  font-size: 0.85em;
}

/*Selector Specificity: (0, 0, 1)*/
img {
  border-radius: 0.875em;
}

/*Selector Specificity: (0, 0, 2)*/
a {
  color:rgb(0, 41, 82);
  /*background-color hereda de main*/  
}

/*Selector Specificity: (0, 1, 2)*/
a:hover{
  color: rgb(140, 0, 0);
  /*background-color hereda de footer*/
}