/***********************************
  Omar Teixeira Gonzalez - UO281847
Documento que contiene el layout de 
los diferentes html que forman la
pagina
***********************************/
/*Selector Specificity: (0, 0, 1)*/
header {  
  margin: 0.75em;
  padding: 0.65em;
}

/*Selector Specificity: (0, 0, 1)*/
main {
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;  
  gap: 0.25em;
  margin: 0.5em;
  padding: 0.5em;  
}

/*Selector Specificity: (0, 0, 1)*/
section {    
  flex: 1 0 25%;
  margin: 0.5em;
  padding: 0.5em; 
}

/*Selector Specificity: (0, 0, 1)*/
h1 {
  margin: 0.1em;
  padding: 0.5em;
}

/*Selector Specificity: (0, 0, 1)*/
h2, h3{
  margin: 0.15em;
  padding: 0.3em;
}

/*Selector Specificity: (0, 0, 1)*/
h4, h5, h6 {
  margin: 0.2em;
  padding: 0.35em;
}

/*Selector Specificity: (0, 0, 1)*/
p, a {
  margin: 0.5em;
  padding: 0.25em;
}

/*Selector Specificity: (0, 0, 1)*/
img {    
  margin-left: 2.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.25em;
  max-width: 100vw;
  height: auto;
}